<div id="food-buttons">
     <button id="food1" data-food="{{food1Type}}"><img src="../public/images/buttons-red-button-png-clipart.jpg" alt="{{foodName1}}" />
    </button>
    <button id="food2" data-food="{{food2Type}}"> <img src="../public/images/buttons-red-button-png-clipart.jpg" alt="{{foodName2}}" />
    </button>
    <button id="food3" data-food="{{food3Type}}"><img src="../public/images/pink-button-clipart-9.jpg" alt="{{foodName3}}" />
    </button>
</div>